*
body {
    background-size: cover;
    background-image: url("../images/80cDgU8.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
}

.form {
    margin: 0px auto;
    background-color: #f2f2f2;
    padding: 50px;
    border-radius: 0px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    font-family: sans-serif;
    cursor: pointer;
}

h1 {
    color: #fff;
    padding:30px 0; 
    font-size: 1.75rem;
    background: #04124d;
    font-family: sans-serif;
}

h2 {
  color: #fff;
}
.search-button {

}
.f1 {
    background-color: steelblue;
    color: White;
    max-width: 100%;
    margin-right: 1%;

}

.f2 {
    background-color: steelblue;
    color: White;
    max-width: 100%;
    margin-right: 1%;

}

.f3 {
    background-color: steelblue;
    color: White;
    max-width: 100%;
    margin-right: 1%;

}

.f4 {
    background-color: steelblue;
    color: White;
    max-width: 100%;
    margin-right: 1%;

}

.f5 {
    background-color: steelblue;
    color: White;
    max-width: 100%;
    margin-right: 1%;

}


/* .weather-input .separator::before { 
    content: "or";
    color: #6c757d;
    font-size: 1.18rem;
    padding: 0 15px;
    margin-top: -4px;
    /* background: #e3f2fd; 
} */


/* .weather-input { 
    width: 550px;
} */
.weather-input input {
    width: 100%;
    height: 50px;
    outline: none;
    padding: 0 15px;
    margin: 10px 0 20px 0;
    font-size: 1.1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.weather-input .separator {
    width: 150%;
    height: 1px;
    margin: 25px 0;
    background: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.weather-input button {
    width: 400%;
    padding: 10px 0;
    height: 45px;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-size: 1.05rem;
    border-radius: 4px;
    background: #a5a5a9;
}
/* .weather-input .location-btn{
    background: #6c757d;

} */
/* .weather-data {
    width: 100%;
} */
.current-weather {
    color: #fff;
    display: flex;
    border-radius:5px;
    padding: 20px 70px 20px 20px;
    background: #0b122c;
    justify-content: space-between;
    
}
/* .current-weather  h3 {
    font-size: 1.7rem;
} */
/* .weather-data h4 {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
} */
/* .current-weather .icon {
    text-align: center;
} */
/* .current-weather .icon img {
    max-width: 120px;
    margin-top: -15px;
    background: url ('../images/10d')
} */ */

/* .current-weather .icon h4 {
    margin-top: -10px;
    text-transform: capitalize; */

/* .days-forecast h2 {
    font-size: 1.5rem;
    margin: 20px 0;
} */
/* .weather-cards {
    display: flex;
    gap: 20px; */

/* .weather-cards .card {
    list-style: none;
    color: #fff;
    padding: 18px 16px;
    border-radius: 5px;
    background: #6c757d;
    width: calc(100% / 5); */
/* }
.weather-cards .card img {
    max-width: 70px;
    margin: 5px 0 -12px 0;
} */

/* @media (max-width: 1400px) {
  .weather-data .current-weather {
    padding: 20px;
  }
  .weather-cards .card {
    width: calc(100% / 4 - 15px);
  }
}
@media (max-width: 1200px) {
    .weather-cards .card {
      width: calc(100% / 3 - 15px);
  }
}
@media (max-width: 950px) {
    .weather-input {
      width: 450px;
  }
}
.weather-cards .card {
    width: calc(100% / 2 - 10px);
}
@media (max-width: 750px) {
    .container {
      flex-wrap: wrap;
      padding: 15px;
  }
.weather-input {
    width: 100%;
  }
}

 */ */